/*
  color :
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body
{
  background-color: #1c2330;
  color : white;
  font-family: "Montserrat", sans-serif;
}

.status
{
  color: #afbbd0;
}

.prenom
{
  color: #dadada;
}

.header
{
  height: 100vh;
}
